<div id='reels'>
    <div class='row text-center' id='sizzle'>
        <div class='col-xs-11 col-md-8'>
            <div class='embed-responsive embed-responsive-16by9'>
                <iframe src="https://player.vimeo.com/video/199752620?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>  
    </div>
    <div class='row text-center hidden-video' id='long'>
        <div class='col-xs-11 col-md-8'>
            <div class='embed-responsive embed-responsive-16by9'>
                <iframe src="https://player.vimeo.com/video/199752684?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-4">
            <a href="#" class='thumbnail active' id='sizzle-btn' onclick="return false;">
                <img src="img/sizzle_full.jpg" alt="...">
            </a>
            <div class="caption text-center">
                <h4>Sizzle</h4>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <a href="#" class="thumbnail" id='long-btn' onclick="return false;">
                <img src="img/long_full.jpg" alt="...">
            </a>
            <div class="caption text-center">
                <h4>Longform</h4>
            </div>
        </div>
    </div>
</div>
