<div  id='resume'>
    <h2 class='text-center'>Resume</h2>
    <div class='row'>
       <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="thumbnail">
          <div class="caption">
            <p><a href="pdf/grant_resume.pdf" class="btn btn-primary" role="button">Download PDF</a></p>
          </div>
          <img src="img/resume_full.jpg" alt="...">
        </div>
      </div>
    </div>
</div>