<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <a href='index.html' class='navbar-brand text-center'><i class="fa fa-fast-forward" aria-hidden="true"></i>
                  <strong>Grant Culwell, SOC <br>
                  <span>IATSE Local 600 <br>
                  Camera/Steadicam Operator</span></strong>
              </a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse" id="main-nav-collapse">
              <ul class='nav navbar-nav navbar-right'>
                  <li class='btn-nav' id='reels-btn'><a href='#'>Reels</a></li>
                  <li class='btn-nav' id='resume-btn'><a href='#'>Resume</a></li>
                  <li class='btn-nav' id='about-btn'><a href='#'>About</a></li>
                  <li class='btn-nav' id='contact-btn'><a href='#'>Contact</a></li>
              </ul>
          </div><!-- /.navbar-collapse -->
      </div>    
  </nav>
<%= yield %>

</body>
</html>
